

body {
    background-color: rgb(216, 216, 195);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
}

a {
    color: darkblue;
    text-decoration: none;
}
h1 {
    font-size: 2.3rem;
}
h2 {
    font-size: 1.7rem;
    text-align: center;
}
h1, h2 {
    margin: 3rem 0 1.75rem;
    font-weight: 600;
}

.container {
    max-width: 600px !important;
    margin: 2rem auto;
}
.wrapper {
    padding: 3rem 3em;
    background-color: #ffffff50;
    border-radius: 2rem;
}
.add-task-input {
    width: 100%;
    padding: 1.4rem 1.5rem;
    border-radius: 0.5rem;
    border: 0px solid #808029;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.1rem;
}
.task {
    background-color: #ffffff80;
    padding: 1rem 1.5rem;
    font-weight: 600;
    display: flex;
    margin-bottom: 1rem;
    border-radius: .5rem;
}
.task:hover {
    background-color: #00000017;
}
.task .todoText{
    display: inline-block;
    width: 60%;
    font-size: 1.3rem;
}
.task .buttons {
    display: inline-block;
    width: 40%;
    text-align: right;
}
footer {
    margin: 5rem auto;
}

.btn-primary {
    background-color: #525206;
    border-color: #525206;
    font-weight: 600;
    padding: 0.95rem 3rem;
}
.btn-success {
    background-color: #525206;
    border: 0;
}
.btn-success i {
    margin-right: 0.1em;
    vertical-align: middle;
}
.btn-danger {
    background-color: #525206;
    border: 0;
    margin-left: .3rem;
}
.btn-success, .btn-danger {
    font-weight: 600;
    font-size: 70%;
}
#submit:hover {
    background-color: #52520695;
    border: 1px solid #52520695;
}

.true {
    text-decoration: line-through;
    color: #525206;
    background-color: #ffffff46;
}

#status-message {
    position: fixed;
    bottom: 0;
    background-color: #525206;
    color: #fff;
    padding: 1.5rem 3rem;
    border-radius: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    bottom: 1rem;
    right: 1rem;
}
#status-message.show {
    display: block;
}
#status-message p {
    margin: 0;
}
.fade-out, .completed {
    position: fixed;
    background-color: #525206;
    color: #fff;
    padding: 1.5rem 3rem;
    bottom: 1rem;
    right: 1rem;
    box-shadow: 2px 2px 8px 2px #00000046;
    animation: status-message-animation 3s both;
}
@keyframes status-message-animation {
    0% {
      transform: translateY(200%);
      opacity: 1;
    }
    20% {
      transform: translateY(0);
      opacity: 1;
    }
    80% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(200%);
      opacity: 0;
    }
}



@media screen and (max-width: 600px) {
    .task {
        display: block !important;
    }
    .todoText {
        width: 100% !important;
    }
    .buttons {
        width: 100% !important;
        text-align: center !important;
        margin: 0.5rem;
    }
    .wrapper {
        padding: 1.5rem !important;
    }
    .todoText {
        text-align: center !important;
    }
}
